DATABASE_URL=postgresql://postgres:password@localhost:5432/ServerUsers

DB_NAME=ServerUsers
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET=your_super_secret_key_here
ALG=HS256
ACCESS_MIN=30
REFRESH_DAYS=1

PBKDF2_ITERATIONS=100000
PBKDF2_SALT_BYTES=16
PBKDF2_KEY_LEN=32